# Analyse des données de l'étude CDV

In [1]:
from pathlib import Path
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
#%pylab inline

In [2]:
path_project = Path.home() / Path('Google Drive/Felix')
path_data = path_project / Path("data")

In [3]:
file = path_data / Path("felix.csv")
with Path.open(file, 'rb') as fp:
    cdv = pd.read_csv(fp,  encoding='cp1252',low_memory=False)

In [4]:
cdv.shape

(11131, 354)

In [5]:
print(" ".join(cdv.columns))

INTER6 INTER ANNEEFUZ ANNEFUZ2 COLLECTE CHAMP POND identifiant SEXE AGE5 PCSENQ8 TYPOSQT DIPL4 AGGLO5 UDA10 SITUEMP3 AGEDIP2 DPT COMINSEE AGGLO9 AGE DIPLOME EXERCPRO SITUEMP SITUEMP5 SITUEMP6 SALCOMP TYPEMPL INTERIM TYPCONT TEMPSTRA nbheures NBHEUR39 NBHEUR35 PREFPALI SALCOMPI CHERCHEM IMAGTRAV COUPLE STATMAT STATMAT4 ACTCONJ SALCOMPC ENFANTS NBENF NBENF6 FAMILLE UNIONGAY ADOPTGAY TRAVFEM NB0003 NB0306 NB0610 NB1016 NB1620 NB2099 NB03_4 NB06_4 NB10_4 NB16_4 NB20_4 NB99_4 NB03_2 NB06_2 NB10_2 NB16_2 NB20_2 NB99_2 SITUFAM RESIDALT NBPIECES NBPIECE6 LOGSUFFI STATLOGB STATLOG4 DEPLOG DEPLOG3 CADVIE CADVIE3 SECURITE SECUR3 MODCHAUF TYPCHAUF VOITURE CONDUIT CHOIXNUC SENSIENV TAXENV HANDICAP SOUFFTET SOUFFDOS SOUFFNER SOUFFDEP SOUFFINS ETATSAN LIMVIAND WHYLIM ADNSTIC ADNCB ADNORDI ROBOT1 ROBOT2 ROBOT3 NBPERS NBPERS5 SEXE_2 SEXE_3 SEXE_4 SEXE_5 SEXE_6 SEXE_7 SEXE_8 SEXE_9 AGE_2 AGE_3 AGE_4 AGE_5 AGE_6 AGE_7 AGE_8 AGE_9 LIEN_2 LIEN_3 LIEN_4 LIEN_5 LIEN_6 LIEN_7 LIEN_8 LIEN_9 PRESTCAF REVPF RESTRICT RE_MEDI RE_VOIT RE_EQUI RE_ALIM RE_VAC RE_HABI RE_LOG RE_ENF RE_TABAL RE_WEB NIVPERSO NIVPERS4 NIVFRAN NIVFRAN4 CDV5 CDV5_4 NBCHOM BANQMOB BANQEPA BANQVIE INNOVTEC TELMOB PRATCOLL CONFWEB VACANCES VISITFAM RECEP YOGA FREQSPOR FREQBIBL FREQCINE FREQTELE ASSOSPOR ASSOCULT ASSOCONF ASSOJEUN ASSOSYND ASSOENVI ASSOPARE ASSOCONS ASSOPOLI ASSOHUMA ASSOAUTR ASSO11_2 ASSO11_3 ASSO6_2 ASSO10_2 ASSO10_3 HARVEY AIDESUFF EFFORTPP RAISPAUV CHOAVANT CHOVOLON OPIRSA JUSTICE RELEG CONFPUB CONFENTR CONFASSO CONFPOLI CONFBANK CONFPRES CONFECOL CONFKEUF TRANSFST TRANSFO5 PROGRAD RADIQUOI RADWHY1 RADWHY2 RADWHY3 RADWHY4 RADWHY5 RADWHY6 RADWHY7 RADWHY8 RADWHY9 RADWHY10 RADWHY11 RADWHY12 RADWHY13 RADWHY14 ORDLIB CONFMEFI PREOCCU1 PREOCCU2 PREOCHOM PREOMALA PREOENV PREOPAUF PREOPAUM PREODROG PREOVIO PREOTENS PREOCONF PREOIMMI PREOEURO RADI1 RADI2 RADI3 OPICULT COMMU1 COMMU2 COMMU3 COMMU4 COMMU5 COMMU6 COMMU7 COMMU8 MONDIAL INQMALAD INQMALA3 INQAGRES INQAGRE3 INQROUTE INQROUT3 INQCHOMA INQCHOM3 INQGUERR INQGUER3 INQNUCLE INQNUCL3 INQALIM INQALIM3 INQ4SUR6 CLASSESO ISEGO NOT_FAMI NOT_PROF NOT_AMIS NOT_COHE NOT_POLI NOT_LIBR NOT_LOG NOT_CAD HEUREUX CONFGOUV ECHPOL OPIIMMIG RELIGION REVENQ REVCONJ REVAUON REVAUTR AUTREREV REV_TR7 REVTOT revtot7 NBUC REVUC REVsqt decuc decsqt TYPOCLAS TYPLOG2 AGESEX12 PCSENQ36 PCSCONJ PCSENQ35 PCSENQ32 PCSENQ24 PCSENQ15 PCSENQ13 PCSENQ10 PCSENQ9 PCSENQ7 PCSCON7 ACM1 ACM2 ACM3 ACM4 ACM5 ACM6 ACM7 ACM8 ACM9 ACM10 ACM11 ACM12 UDA23 UDA14 statut99 RURAURBA zau1999 zau2010 typodeg popdense popinter poppeud poptrpeu agedip AUTREAL age_OW UDA5 CSP6 CP TYPLOG inseel inseenum couple2 cpt AGE6 PCSRED10 prescaf refus2 info med i com type99 AGGLOINS DEPCOM pmun QUOTAAGE PRIVPUB interim2 EMP7 typcont2 REVTOT6 an_enq an_nais

In [6]:
sub_cdv = cdv.loc[:,["NOT_FAMI", "NOT_PROF", "NOT_AMIS",
                   "NOT_COHE", "NOT_POLI", "NOT_LIBR", 
                   "NOT_LOG", "NOT_CAD", "ANNEEFUZ", "INTER6"]]

In [7]:
sub_cdv.shape

(11131, 10)

In [8]:
sub_cdv.head()

,NOT_FAMI,NOT_PROF,NOT_AMIS,NOT_COHE,NOT_POLI,NOT_LIBR,NOT_LOG,NOT_CAD,ANNEEFUZ,INTER6
0,5.0,6.0,6.0,6.0,3.0,6.0,NaN,NaN,2015,373001
1,7.0,6.0,6.0,7.0,5.0,6.0,NaN,NaN,2015,373002
2,7.0,6.0,6.0,NaN,5.0,4.0,NaN,NaN,2015,373003
3,7.0,5.0,6.0,6.0,5.0,6.0,NaN,NaN,2015,373004
4,7.0,7.0,6.0,6.0,6.0,7.0,NaN,NaN,2015,373005

In [9]:
cdv1718 = sub_cdv.loc[sub_cdv["ANNEEFUZ"].isin([2017,2018]),:]

In [10]:
cdv1718.describe()

,NOT_FAMI,NOT_PROF,NOT_AMIS,NOT_COHE,NOT_POLI,NOT_LIBR,NOT_LOG,NOT_CAD,ANNEEFUZ,INTER6
count,5947.000000,5911.000000,5934.000000,5916.000000,5904.000000,5913.000000,5932.000000,5925.000000,6036.000000,6036.000000
mean,6.206491,4.714600,5.216212,4.617478,3.658706,5.410621,5.510789,5.687595,2017.499669,396506.768058
std,1.492127,1.740409,1.337627,1.360557,1.678520,1.280449,1.214502,1.216359,0.500041,5075.357643
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2017.000000,390001.000000
25%,6.000000,4.000000,4.000000,4.000000,2.000000,5.000000,5.000000,5.000000,2017.000000,391509.750000
50%,7.000000,5.000000,5.000000,5.000000,4.000000,6.000000,6.000000,6.000000,2017.000000,393019.500000
75%,7.000000,6.000000,6.000000,5.000000,5.000000,6.000000,6.000000,7.000000,2018.000000,401508.250000
max,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,2018.000000,403018.000000